.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;
    font-size: 26px;
    line-height: 30px;
    color: #293845;
}